<%- include ("partials/header") %>

<div class="ui two column stackable grid container">
    <div class="column center aligned">
        <a href="/signin"><button class="ui huge basic button secondary" id="landingButtons">Sign In</button></a>
    </div>
    <div class="column center aligned">
        <a href="/signup"><button class="ui huge basic button secondary" id="landingButtons">Sign Up</button></a>
    </div>
  </div>
</div>


<%- include ("partials/footer") %>