<%- include ("partials/header") %>

    <div class="ui huge header"><h1>What is MusicNotes?</h1></div>
    <p>MusicNotes allows your teachers to post assignments and monitor their student's progress.</p>
</div>



<%- include ("partials/footer") %>
