<%- include ("partials/header") %>

<div class="ui centered divided grid">
    <div class="ui eight wide column">
        <div class="ui huge header"><h1>What is Lesson Notebook?</h1></div>
        <p>Lesson Notebook is a modern day solution to replace the ages-old method of having staff paper to keep track of student's lessons.</p>
    </div>
    <div class="ui eight wide column">
        <div class="ui huge header"><h1>Why would it be helpful to me?</h1></div>
        <p>We've all left our notebook at home before and as teachers it's difficult to remember every detail of the previous lesson without it. 
            With Lesson Notebook, every assignment is up in the cloud and accessible from your teacher's laptop.
            This gets rid of the need for that raggedy old staff paper notebook and brings private music instruction further into the modern age.</p>
    </div>
</div>
</div>



<%- include ("partials/footer") %>
