<%- include ("../partials/header") %>

    <div class="ui centered grid">
        <form class="ui form" action="/users/<%= currentUser._id %>/createStudent" method="POST">
            <div class="ui item">
                <h1 class="ui header">
                    Please add your student's information.
                </h1>
            </div>
            <div class="ui hidden divider"></div>
            <div class="field">
                <label for="firstName">First Name</label>
                <input required="true" type="text" placeholder="First Name" name="firstName">
            </div>
            <div class="field">
                <label for="lastName">Last Name</label>
                <input required="true" type="text" name="lastName" placeholder="Last Name">
            </div>
            <div class="field">
                <label for="instrument">Instrument</label>
                <select name="instrument" class="ui selection dropdown">
                    <option value=""></option>
                    <option value="Guitar">Guitar</option>
                    <option value="Bass">Bass</option>
                    <option value="Drums">Drums</option>
                    <option value="Piano">Piano</option>
                    <option value="Ukulele">Ukulele</option>
                  </select>
            </div>
            <input class="ui secondary big basic button" type="submit" value="Submit">
        </form>
        </div>
    </div>
</div>




<%- include ("../partials/footer") %>